/*
 Name: Age Calculator App.
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani.
 Author URL:  https://github.com/eserengo/
*/

@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Poppins", serif;
    font-size: 16px;
    --LightGreen: #39c439;
  }
}

[v-cloak] {
  display: none;
}
